type kcal_dev, file_type;
type vibe_dev, file_type;
type touchpanel_sysfs, sysfs_type, file_type;
type hwaddrs_data_file, file_type, data_file_type;

# BRCM BT FM
type brcm_ldisc_sysfs, sysfs_type, fs_type;
type brcm_uim_exec, exec_type, file_type;
