# Copyright (c) 2015, The Linux Foundation. All rights reserved.

on boot

service wcnss-service /system/bin/wcnss_service
   class late_start
   user root
   group system wifi
   oneshot

service config_bluetooth /system/bin/sh /system/etc/init.qcom.bt.sh "onboot"
    class core
    user root
    oneshot
